@model List<DinnerApp.Models.Ingredient>

@{ 
    string display = "";
    foreach (var ingredient in Model)
    {
        display += ingredient.Name + " (" + ingredient.Amount.ToString() + " " + ingredient.Unit + "), ";   <!--String Concatenation-->
            
    }
    display = display.Remove(display.LastIndexOf(","));
}

<span>@display</span>
